*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Atkinson Hyperlegible Mono',sans-serif;
    background-color: bisque;
    position: relative;
    
}

nav{
    display: flex;
    align-items: center;
    height: 30px;
    position: fixed;
    top: 0;
    left: 30%;
    
}

form {
    padding: 60px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}



input{
    margin: 10px 0;
    border-radius: 5px;
    height: 30px;
    width: 90%;
    padding: 5px 10px;
}

label{
    font-weight: bold;
    align-self: flex-start;
    margin-left: 5%;
    text-decoration: underline;
}
textarea{
    margin: 10px 0;
    height: 100px;
    resize: none;
    border-radius: 5px;
    width: 90%;
    padding: 5px 10px;
}

button{
    margin: 10px 0;
    width: 90%;
    background-color: chocolate;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px;
    font-weight: 600 ;
    letter-spacing: 1px;
}

#blog-list{
    padding: 40px 5px 0 20px;
}

h1{
    text-transform: uppercase;
    text-decoration: underline red;
    margin: 0;
    font-size: 2rem;
    color: red;
}

h3{
    color: brown;
    text-transform: uppercase;
    text-decoration: underline;
    
}

p{
    margin: 1em 0;
}
